@model Product

<h1>Add Product</h1>

<form method="post">
    @Html.Partial("_Form", Model)

    <br />

    <button class="btn btn-sm btn-primary" type="submit">Save</button>

    <a class="btn btn-sm btn-secondary" href="/product">Back</a>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}