@model Product


<h1>Delete Product</h1>

<p>Are u sure want to delete this data??</p>

<ul>
    <li>
        <b>Name : </b> @Model.Name
    </li>
    <li>
        <b>Price : </b> @Model.Price
    </li>
</ul>

<form asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">
    <button class="btn btn-sm btn-danger" type="submit">Yes, Delete</button>

    <a class="btn btn-sm btn-secondary" href="/product">Cancel</a>
</form>