@model Product

<h1>Edit Product</h1>

<form asp-action="Edit" asp-route-id="@Model.Id" method="post">
    @Html.Partial("_Form", Model)

    <br />

    <button type="submit">Update</button>
</form>

<a href="/product">Back</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}