@model Product

<h1>Edit Product</h1>

<form asp-action="Edit" asp-route-id="@Model.Id" method="post">
    @Html.Partial("_Form", Model)

    <br />

    <button class="btn btn-sm btn-primary" type="submit">Update</button>

    <a class="btn btn-sm btn-secondary" href="/product">Back</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}