<form id="formCreate">
    <label class="form-label">Name</label>
    <input name="Name" class="form-control" />

    <label class="form-label">Price</label>
    <input name="Price" class="form-control" />


    <button class="btn btn-sm btn-primary mt-3">Save</button>
</form>