<form id="formEdit">
    <input type="hidden" name="Id" value="@Model.Id">

    <label class="form-label">Name</label>
    <input class="form-control" name="Name" value="@Model.Name">

    <label class="form-label">Price</label>
    <input class="form-control" name="Price" value="@Model.Price">

    <button class="btn btn-sm btn-primary mt-3">Update</button>
</form>