<form id="formEdit">
    <input type="hidden" name="Id" value="@Model.Id">

    <label class="form-label">Name</label>
    <input type="text" class="form-control" name="Name" value="@Model.Name">
    <span class="text-danger small field-error" data-field="Name"> </span>

    <br />
    <label class="form-label">Price</label>
    <input type="number" class="form-control" name="Price" value="@Model.Price">
    <span class="text-danger small field-error" data-field="Price"></span>

    <br />
    <button class="btn btn-sm btn-primary mt-3" type="submit">Update</button>
    <button class="btn btn-sm btn-secondary mt-3" type="button" data-bs-dismiss="modal">Cancel</button>
</form>